<div id='qua_entry_dialog' style="width: 320px;" class='dialog well'>
	<nav class="navbar navbar-inverse">
		<div class="container">
		  <div class="navbar-header">
		    <span class="navbar-brand">温泉を登録する</span>
		  </div>
		</div>
	</nav>
        <% @qua = Qua.new %>
        <%= render :template => 'quas/_form2' %>
  <hr />
	<div id='qua_entry_footer' style='text-align: center;'>
		<button id="buttonQuaEntry" class='qua_entry_dialog_close btn btn-default' style='display: none;' onclick="execQuaEntry()">登録する</button>
		<button id="buttonQuaEdit" class='qua_entry_dialog_close btn btn-default' style='display: none;' onclick="if(window.confirm('温泉情報を更新しますか？')){execQuaEdit()}">編集する</button>
		<button id="buttonQuaDestroy" class='qua_entry_dialog_close btn btn-default' style='display: none;' onclick="if(window.confirm('本当に削除しますか？')){execQuaDestroy()}">削除する</button>
		<button id="buttonCloseQuaEntryDialog" class='qua_entry_dialog_close btn btn-default'>閉じる</button>
	</div>



</div>
