<div id='review_dialog' class='well'>
	<div class='review_header'>
		<div class='review-top'>
			<!-- 温泉のイメージ -->
		</div>
		<div class='qua-info'>
			<h3 id='qua_name'></h3>
			<ul>
				<li><h4>泉質:</h4></li>
				<li id="review_qua_quality_item"> </li>
				<li><h4>効能:</h4></li>
				<li id="review_qua_effect_item"> </li>
				<li><h4>URL</h4></li>
				<li id="review_qua_url_item"> </li>
				<li><h4>区分</h4></li>
				<li id="review_qua_category_item"> </li>
				<li><h4>価格</h4></li>
				<li id="review_qua_price_item"> </li>
				<li><h4>平均評価</h4></li>
				<li id="review_qua_average_item"> </li>
			</ul>
		</div>
		<div class='top-end'>
			<hr />
			<h3> </h3>
			<hr />
		</div>
	</div>
	<div class='review-sep'>
		<hr />
	</div>
	<div class='review_body'>	</div>

		<div class='review-sep'>
			<hr />
		</div>

	<div style='text-align: center;'>
		<button class='review_dialog_close btn btn-default'>閉じる</button>
	</div>
</div>
