<div id='review_dialog' class='well'>
	<div class=''>
		<div class='review-top'>
			<h2>sorry, it's under construction.</h2>
			<!-- 温泉のイメージ -->
			<img />
		</div>
		<div class='qua-info'>
			<h3 id='qua_name'></h3>
			<ul>
				<li><h4>泉質:</h4></li>
				<li id=''> </li>
				<li><h4>効能:</h4></li>
				<li id=''> </li>
				<li><h4>URL</h4></li>
				<li id=''> </li>
				<li><h4>区分</h4></li>
				<li id=''> </li>
				<li><h4>価格</h4></li>
				<li id=''> </li>
				<li><h4>平均評価</h4></li>
				<li id=''>
					<div id='review_avg'></div>
				</li>
			</ul>
		</div>
		<div class='top-end'>
			<hr />
			<h3> </h3>
			<hr />
		</div>

		<div class='review-sep'>
			<hr />
		</div>

		<div class='review-sep'>
			<hr />
		</div>
		<div style='text-align: center;'>
			<button class='review_dialog_close btn btn-default'>閉じる</button>
		</div>
	</div>
