<html>
  <head>
    <title>The Qua Map - Qua/Spa infomation!</title>
  </head>
  <body>
    <h1>The QUA Map</h1>
    <p>日本温泉マップ</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12446.938874356683!2d140.72493504161375!3d38.74684936886563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1412164653219" width="800" height="600" frameborder="0" style="border:0"></iframe>
  </body>
https://www.google.com/maps/d/edit?mid=zu7lPiqIllhg.k_4vyFB1fCnM

</html>

