<html>
  <head>
    <title>The Qua Map - Qua/Spa infomation!</title>
  </head>
  <body>
    <h1>The QUA Map</h1>
    <p>日本温泉マップ</p>
  </body>
https://www.google.com/maps/d/edit?mid=zu7lPiqIllhg.k_4vyFB1fCnM

</html>

